.videos-videoslist {  margin-top:5px; padding:5px; width:100%;}
.videos-videoslist tr:hover {  backgound-color:#aaa; }
.videos-videoslist tr td {  padding:5px; }

.videos-video {
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 40px;
	width: 200px;
	height: 113px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.videos-videotitle {
	margin-top: 115px;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}
